*{
    margin: 0;
    padding: 0;
}
.form #formleft 
{
    width: 280px;
    float: left;
    padding-left: 0px;
    box-sizing: border-box;
}
.form .form3 :hover
{
    background: yellow;
    color: red;
}


span{
    color: blue;
    font-size: 15px;
}
label{
    font-size: 15px;
    line-height: 15px;
    overflow: hidden;
    color:black;
    display: block;
    font-weight: bold;
}
.form3 input{
    float: left;
    width: 220px;
    height: 46px;
    font-size: 18px;
    background: #f57224;
    border: 1px solid #ddd;
    margin-top: 30px;
    color: #fff;
    align-content: center;
    margin-left: 20px;
}
.email input {
    width: 250px;
    height: 40px;
    font-size: 14px;
    border: 1px solid palevioletred;
    padding-left: 10px;
}